<form id="login" method="post">
    <input type="number" id="id" name="id" value="" placeholder="Carne Cedula">
    <br><br>
    <input type="password" name="password" value="" placeholder="Tu Contraseña">
    <br><br>
    <input type="button" value="Login">
  </form>
  
  <script type="text/javascript">
    const formLogin = document.querySelector('#login')
    const formData = new FormData(formLogin)
    formLogin.addEventListener('submit', event => {
      event.preventDefault()
      fetch('/singin', {
        method: 'POST',
        body: formData
      })
      .then(res => res.json())
      .then(data => {
        localStorage.setItem('token', data.token)
      })
    })
  </script>