<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>User profile </title>
  <link rel="stylesheet" href="CSS/perfil.css">
<script src="js/prefixfree.min.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->
<h1 class="title-pen"> Perfil <span>ADMINISTRADOR</span></h1>
<div class="user-profile">
	<img class="avatar" src="image/perfil.png" alt="Ash" />
    <div class="username">Aqui va el nombre</div>
  <div class="bio">
  	Info de algo
  </div>
    <div class="description">
      GGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
  </div>

</div>

<!-- partial -->
  <script  src="js/perfil.js"></script>

</body>
</html>