<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Edit table row inside a popover</title>
  <link rel='stylesheet' href='/static/CSS/recomendaciones.css'>

</head>
<body>
    <div id="metric_results">
        <h2>CARGAR RECOMENDACIONES</h2>
        <input type="button" id="create" value="Click Aquí" onclick="Javascript:addTable()">
        </div>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script><script  src="js/recom.js"></script>

<script type="text/javascript">
  let productList = document.createElement('ul')
  const myHeaders = new Headers();
  myHeaders.append('authorization', `Bearer ${localStorage.token}`)
  fetch('/api/resenas/', {
    method: 'GET',
    headers: myHeaders
  })
  .then(res => res.json())
  .then(data => {
    data.platillos.map(platillo => {
      let text = document.createTextNode(platillo.Nombre)
      let elem = document.createElement('li')
      elem.appendChild(text)
      productList.appendChild(elem)
    })
    document.body.appendChild(productList)
  })
</script>

</body>
</html>